name: phpcs Checker

on:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Fetch base commit
      run: |
        git fetch --depth=1 origin ${{ github.event.pull_request.base.ref }}

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-suggest

    - name: Run phpcs modified files
      run: |
        for f in `git diff --name-only --diff-filter=AM ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }} | grep "php$"`
        do
            echo $f
            ./vendor/bin/phpcs --basepath=$(pwd) --standard=PSR12 $f
        done
